@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dim-900 text-dim-100;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dim-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-dim-600 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dim-500;
}

input, textarea, select {
  @apply bg-dim-800 border-dim-700 text-dim-100 !important;
}

input:focus, textarea:focus, select:focus {
  @apply ring-primary-400 border-primary-400 !important;
}

.input-range::-webkit-slider-thumb {
  @apply bg-primary-500;
}

.input-range::-moz-range-thumb {
  @apply bg-primary-500;
}